{%extends 'base.html'%}
{% block content %}
<script src="/static/js/button.js"></script>

    {% if not table_pages %}
       <h1>검색 결과가 없습니다.</h1>
    {% else %}

    <p>{{ q }} 에 대한 검색 결과</p>
    <form action="{% url 'FoodInfo:service' %}" method="POST" >
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>음식 체크</th>
                    <th>음식 이름</th>
                    <th>중량</th>
                    <th>칼로리</th>
                    <th>탄수화물</th>
                    <th>단백지</th>
                    <th>지방</th>
                    <th>###</th>
                </tr>
        </thead>
         <tbody>
            {% for table in tables.all %}
                <tr>
                    <td><input type="checkbox" name="val_id" value="{{ table.id }}"></td>
                    <td>{{ table.name }}</td>
                    <td>{{ table.serving_wt }}</td>
                    <td>{{ table.kcal }}</td>
                    <td>{{ table.carbo }}</td>
                    <td>{{ table.protein }}</td>
                    <td>{{ table.fat }}</td>
                    <td>
                        #
                    </td>
                </tr>
        {% endfor %}
        </tbody>
        </table>



    {% if table_pages.has_previous %}
             <a href="?q={{ q }}&page=1">First</a>
             <a href="?q={{ q }}&page={{ table_pages.previous_page_number}}">Previous</a>

    {% endif %}


     <span>{{ table_pages.number }}</span>
     <span>of</span>
     <span>{{ table_pages.paginator.num_pages }}</span>

     {% if table_pages.has_next %}
         <a href="?q={{ q }}&page={{ table_pages.next_page_number }}">Next</a>
         <a href="?q={{ q }}&page={{ table_pages.paginator.num_pages}}">Last</a>
     {% endif %}



    {% endif %}

    <br>
    <input type="submit" value="이 음식 체크">
</form>



<!--<script>-->
<!--    function btnCheck() {-->
<!--        alert($('input[type=checkbox]:checked').val())-->
<!--    }-->

<!--</script>-->


{% endblock %}