<!doctype html>
<html lang="en">

<head>
	<title>CalCal First project</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/static/service/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/service/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/service/vendor/linearicons/style.css">
	<link rel="stylesheet" href="/static/service/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/static/service/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="/static/service/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/static/service/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/service/img/favicon.png">
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


</head>
<style>
	.navbar-default .brand {
    float: left;
    padding: 15px 10px;
    background-color: #fff;
}
	input[type=number] {
	  line-height: 30px;
}

	input[type=number]::-webkit-inner-spin-button {
	  width: 30px;
	  height: 30px;
}
</style>
<body>
	<script>
		const baseDate = new Date("{{baseDate}}");
		console.log(baseDate)
		var kcalData = 0
		var carboData = 0
		var proteinData = 0
		var fatData = 0
		var weekData = [0, 0, 0, 0, 0, 0, 0]

		{% for todayFood in todayTable %}
			kcalData = kcalData + {{ todayFood.kcal }}
			carboData = carboData + {{ todayFood.carbo }}
			proteinData = proteinData + {{ todayFood.protein }}
			fatData = fatData + {{ todayFood.fat }}
		{% endfor %}

		var weekDays = [];
		weekDays[6] = baseDate.getMonth() + 1 + "/" + baseDate.getDate();

		for (var i = 0; i < 6; i++) {
		  baseDate.setDate(baseDate.getDate() - 1);
		  weekDays[5 - i] = baseDate.getMonth() + 1 + "/" + baseDate.getDate();
		}

		console.log("weekDays: " , weekDays);

		var calDict = {};
		for (var i = 0; i < weekDays.length; i++) {
			calDict[weekDays[i]] = 0;
		}

		 {% for weekFood in weekTable %}
		   console.log(String( {{ weekFood.date.month }} ) + "/" + String( {{ weekFood.date.day }}));
		 if (calDict.hasOwnProperty(String({{ weekFood.date.month }}) + "/" + String({{ weekFood.date.day }}))) {
			calDict[String( {{ weekFood.date.month }} ) + "/" + String( {{ weekFood.date.day }})] += {{ weekFood.kcal }};
		 }
		{% endfor %}

		console.log("calDict: ", calDict);

		var weekCal = Object.values(calDict);
		console.log("weekCal : ", weekCal);

		console.log("gender", "{{authuser.gender}}")
		console.log("age", "{{authuser.age}}")
		console.log("height", "{{authuser.height}}")
		console.log("weight", "{{authuser.weight}}")

		var gender = "{{authuser.gender}}"
		var age = "{{authuser.age}}"
		var height = "{{authuser.height}}"
		var weight = "{{authuser.weight}}"

		if (gender == 1) {
				var targetKCal = 66.7 + (13.75 * weight) + (5 * height) - (6.76 * age)

		}
		else if (gender == 0) {
			var targetKCal = 665.1 + (9.56 * weight) + (1.85 * height) - (4.68 * age)
		}
		var message = "권장 칼로리 " + targetKCal + "의 " +((kcalData/targetKCal)*100).toFixed(2) + "%를 섭취"
		alert(message)

	</script>

	<!-- WRAPPER -->
	<b id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand" >
<!--				<a href="service.html"><img src="/static/service/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>-->
				    <a class="navbar-brand" href="{% url 'FoodInfo:service' %}" style="">CalCal</a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left" action="{% url 'FoodInfo:search' %}" method="POST">
					  {% csrf_token %}
					<div class="input-group">
						<input type="search" value="{{ q }}" class="form-control" placeholder="Search" name="q" >
						<input type="hidden" value="{{ baseDate }}" name="baseDate"></input>
						<span class="input-group-btn">
						<button type="submit" class="btn btn-primary">Go</button></span>
					</div>
				</form>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#">Basic Use</a></li>
								<li><a href="#">Working With Data</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Troubleshooting</a></li>
							</ul>
						</li>
						<li class="dropdown">
							{% if user.is_authenticated %}
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/static/service/img/1.PNG" class="img-circle" alt="Avatar"> <span>{{ user.username }}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'FoodInfo:mypage' %}"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="{% url 'User:logout' %}"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
							{% endif %}
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="{%url 'FoodInfo:service' %}" class="active"><i class="lnr lnr-home"></i> <span>Service</span></a></li>
						<li><a href="{%url 'FoodInfo:search' %}" class=""><i class="lnr lnr-code"></i> <span>Search</span></a></li>
						<li><a href="{%url 'FoodInfo:table' %}" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>
						<li><a href="{%url 'FoodInfo:mypage' %}" class=""><i class="lnr lnr-file-empty"></i> <span>MyPages</span> </a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">Weekly Overview</h3>
							<script>var period = weekDays[0] + " ~ " + weekDays[6]</script>
							<p class="panel-subtitle">Period: <script>document.write(period)</script></p>
						</div>

						<div class="panel-body">

							<div class="row">
								<div class="col-md-3">
									<div class="metric">
										<p>
											<span class="number"><script>document.write(targetKCal)</script></span>
											<span class="title">권장 섭취 칼로리</span>
										</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="metric">
										<p>
											<span class="number"><script>document.write(((kcalData/targetKCal)*100).toFixed(2) + "%")</script></span>
											<span class="title">섭취한 칼로리 비율</span>
										</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="panel">
											<div class="panel-heading">
												<h3 class="title" style="center;">섭취 칼로리 비율</h3>
											</div>
											<div class="panel-body">
												<div class="card">
													<div class="card-body">
														<canvas id="myChart3"></canvas>
													</div>
													<div class="card-footer text-center text-dark">
													</div>
												</div>
											</div>
										</div>
									</div>
							</div>

							<div class="row">
								<div class="col-md-3">
									<div class="metric">
										<span class="icon"><i class="fa fa-download"></i></span>
										<p>
											<span class="number"><script>document.write(kcalData.toFixed(2))</script></span>
											<span class="title">칼로리</span>
										</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="metric">
										<span class="icon"><i class="fa fa-shopping-bag"></i></span>
										<p>
											<span class="number"><script>document.write(carboData.toFixed(2))</script></span>
											<span class="title">탄수화물</span>
										</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="metric">
										<span class="icon"><i class="fa fa-eye"></i></span>
										<p>
											<span class="number"><script>document.write(proteinData.toFixed(2))</script></span>
											<span class="title">단백질</span>
										</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="metric">
										<span class="icon"><i class="fa fa-bar-chart"></i></span>
										<p>
											<span class="number"><script>document.write(fatData.toFixed(2))</script></span>
											<span class="title">지방</span>
										</p>
									</div>
								</div>
									<div class="col-md-9">
										<div id="demo-line-chart" class="ct-chart"></div>
									</div>
									<div class="col-md-3">
										<div class="panel">
											<div class="panel-heading">
												<h3 class="title" style="center;">섭취 비율</h3>
											</div>
											<div class="panel-body">
												<div class="card">
													<div class="card-body">
														<canvas id="myChart2"></canvas>
													</div>
													<div class="card-footer text-center text-dark">
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

					<div>
						<form action="{% url 'FoodInfo:getDate' %}" id="link" method="POST">
							{% csrf_token %}
							<input type="date" placeholder="날짜" id="my_date" name="getDate" />
								{% csrf_token %}
							<button type="submit">전송</button>
<!--							<button id="Url" onclick="getUrl(this.form)">전송</button>-->
<!--							<script>-->
<!--								function getUrl(f) {-->
<!--									// alert("aaa")-->
<!--									// alert(f)-->
<!--									var inputDate = String($("#my_date").val())-->
<!--									var inputDate2 = Number(inputDate.substring(0,4) + inputDate.substring(5,7) + inputDate.substring(8,10))-->
<!--									// alert(inputDate2)-->
<!--									f.action = inputDate2-->
<!--									f.submit()-->
<!--								}-->
<!--							</script>-->
						  </form>
					</div>
					<div class="panel">
						<div class="panel-heading">
							<h3 class="panel-title">오늘 먹은 음식</h3>
							<div class="right">
								<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
							</div>
						</div>
						<div class="panel-body no-padding">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>음식 체크</th>
										<th>음식 이름</th>
										<th>중량</th>
										<th>칼로리</th>
										<th>탄수화물</th>
										<th>단백질</th>
										<th>지방</th>
										<th>섭취량</th>
										<th>#</th>
										<th>#</th>
									</tr>
								</thead>
								<tbody>
								{% for food in todayTable %}
									<tr>
										<td>{{forloop.counter}}</td>
										<td>{{food.name}}</td>
										<td>{{food.serving_wt}}</td>
										<td>{{food.kcal}}</td>
										<td>{{food.carbo}}</td>
										<td>{{food.protein}}</td>
										<td>{{food.fat}}</td>
										<td>{{food.amount}}</td>
										<td>
											<a href="{% url 'FoodInfo:delete' food.id%}" class="btn btn-danger">삭제</a>
										</td>
										<td>
											<form action="{% url 'FoodInfo:update' food.id %}" method="POST" >
												{% csrf_token %}
												<input type="number" name="count"
															   placeholder="1.0" step="0.1" min="0">
												<input type="submit" value="양 설정" class="btn-primary">
											</form>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
						<div class="panel-footer">
							<div class="row">
								<div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i> today </span></div>
								<div class="col-md-6 text-right"><a href="#" class="btn btn-primary">View All Purchases</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </b>
	<script src="/static/service/vendor/jquery/jquery.min.js"></script>
	<script src="/static/service/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/service/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/static/service/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="/static/service/vendor/chartist/js/chartist.min.js"></script>
	<script src="/static/service/scripts/klorofil-common.js"></script>
	<script>
		if ( window.history.replaceState ) {
			window.history.replaceState( null, null, window.location.href );
		}
	</script>

	<script>
	$(function() {
		var data, options;
			var data = {
				labels: weekDays,
				series: [weekCal],
		};

		// line chart
		options = {
			height: "300px",
			showPoint: true,
			axisX: {
				showGrid: false
			},
			lineSmooth: false,
		};

		new Chartist.Line('#demo-line-chart', data, options);

		// 오늘의 섭취 영양소 비율 (파이차트)
		var ctx1 = document.getElementById("myChart2");
		console.log(ctx1)
		var myPieChart = new Chart(ctx1, {
		  type: 'pie',

		  data: {
			labels: ['탄수화물','단백질','지방'],
			datasets: [{
			  backgroundColor: ['SteelBlue','yellow','Skyblue'],
			  data: [carboData, proteinData, fatData],
			}]
		  },
		  options: {}
		});

		// 칼로리 섭취 비율 (파이차트)
		var ctx2 = document.getElementById("myChart3");
		console.log(ctx2)
		var myPieChart = new Chart(ctx2, {
		  type: 'pie',

		  data: {
			labels: ['섭취 칼로리','권장 칼로리'],
			datasets: [{
			  backgroundColor: ['yellow','Skyblue'],
			  data: [kcalData, targetKCal],
			}]
		  },
		  options: {}
		});

	});
	</script>
</body>
</html>