{%extends 'base.html'%}
{% block content %}
<h1>서비스</h1>


<!-- 차트 그리기 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<form action="{% url 'FoodInfo:search' %}" method="POST" >
  {% csrf_token %}
  <input type="search"
         placeholder="Search"
         name="q" value="{{ q }}">
  <a href="{% url 'FoodInfo:search' %}"><button type="submit">Search</button></a>
</form>

<br><br>
<table>
    <thead>
        <tr>
            <th>음식 체크</th>
            <th>음식 이름</th>
            <th>중량</th>
            <th>칼로리</th>
            <th>탄수화물</th>
            <th>단백지</th>
            <th>지방</th>
            <th>섭취량</th>
            <th>#</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
    {% for food in select_food %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{food.name}}</td>
            <td>{{food.serving_wt}}</td>
            <td>{{food.kcal}}</td>
            <td>{{food.carbo}}</td>
            <td>{{food.protein}}</td>
            <td>{{food.fat}}</td>
            <td>{{food.amount}}</td>
            <td>
                <a href="{% url 'FoodInfo:delete' food.id%}" class="btn btn-danger">삭제</a>
            </td>
            <td>
                <form action="{% url 'FoodInfo:update' food.id %}" method="POST" >
                    {% csrf_token %}
                    <input type="number" name="count"
                                   placeholder="1.0" step="0.1" min="0">
                    <input type="submit" value="양 설정">
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div>
  <form action="{% url 'FoodInfo:getDate'%}" method="POST">
    {% csrf_token %}
    <input type="date" placeholder="날짜" id="date" name="getDate" />
      {% csrf_token %}
    <button type="submit">전송</button>
  </form>
</div>

<script>
    const baseDate = new Date("{{baseDate}}");
    console.log(baseDate)

    var carboData = 0
    var proteinData = 0
    var fatData = 0
    var kcalWeekArray = new Array(0, 0, 0, 0, 0, 0, 0);
    var weekData = [0, 0, 0, 0, 0, 0, 0]

    {% for todayFood in todayTable %}
        carboData = carboData + {{ todayFood.carbo }}
        proteinData = proteinData + {{ todayFood.protein }}
        fatData = fatData + {{ todayFood.fat }}
    {% endfor %}

    {% for weekFood in weekTable %}
        kcalWeekArray[{{weekFood.date_1.weekday}}] += {{ weekFood.kcal }}
    {% endfor %}

     for (var i=0; i<kcalWeekArray.length; i++) {
              weekData[i] += kcalWeekArray[i]
     }

</script>


<div class="container">
        <div class="row my-3">
            <div class="col-12">
                <h3>오늘 섭취한 영양소</h3>
                    <h5>탄수화물: <script>document.write(carboData.toFixed(2))</script></h5>
                    <h5>단백질 <script>document.write(proteinData.toFixed(2))</script></h5>
                    <h5>지방 <script>document.write(fatData.toFixed(2))</script></h5>
                <h3>이번 주 총 섭취 칼로리</h3>
                   <h5><script>document.write(Math.max.apply(null, kcalWeekArray))</script></h5>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart1"></canvas>
                    </div>
                    <div class="card-footer text-center text-dark">
                      <h3>오늘의 식단 비율</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart2"></canvas>
                    </div>
                    <div class="card-footer text-center text-dark">
                      <h3>이번주 섭취 칼로리</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <!-- 부트스트랩 -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- 차트 -->
  <script>
    // 오늘의 섭취 영양소 비율 (파이차트)
    var ctx1 = document.getElementById("myChart1");
    var myPieChart = new Chart(ctx1, {
      type: 'pie',

      data: {
        labels: ['탄수화물','단백질','지방'],
        datasets: [{
          backgroundColor: ['red','yellow','blue'],
          data: [carboData, proteinData, fatData],
        }]
      },
      options: {}
    });

    // 이번주 섭취 칼로리 (라인차트)
    var ctx1 = document.getElementById("myChart2");
    var myPieChart = new Chart(ctx1, {
      type: 'line',

      data: {
        labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
        datasets: [{
          label: '이번 주 칼로리',
          backgroundColor: 'transparent',
          borderColor: 'red',
          data: weekData
        }]
      },
      options: {}
    });


  </script>

{% endblock %}