{% load bootstrap4 %}

<h1>User Edit</h1>

<!--<p>{{authuser.username}}</p>-->
<!--<p>{{authuser.age}}</p>-->
<!--<br><br>-->

<form action="{% url 'User:update_user' %}" method="POST" >
    {% csrf_token %}

    <div class="form-group">
        <label for="id_username">Username</label>
        <input type="text" name="username" value={{ user.username }} maxlength="40"
               class="form-control" placeholder="Username" title="" required id="id_username">
    </div>

    <div class="form-group">
        <label for="id_email">Email</label>
        <input type="email" name="email" value={{ user.email }} maxlength="240"
               class="form-control" placeholder="Email" title="" required id="id_email">
    </div>

    <div class="form-group">
        <label for="id_age">Age</label>
        <input type="number" name="age" value={{ user.age }} maxlength="240"
               class="form-control" placeholder="Age" title="" required id="id_age">
    </div>

    <div class="form-group">
        <label for="id_weight">Weight</label>
        <input type="number" name="weight" value={{ user.weight }} maxlength="240"
               class="form-control" placeholder="Weight" title="" required id="id_weight">
    </div>

     <div class="form-group">
        <label for="id_height">Height</label>
        <input type="number" name="height" value={{ user.height }} maxlength="240"
               class="form-control" placeholder="Height" title="" required id="id_height">
    </div>

     <div class="form-group">
        <label for="id_gender">Gender</label>
        <input type="number" name="gender" value={{ user.gender }} maxlength="240"
               class="form-control" placeholder="Gender" title="" required id="id_gender">
    </div>

    <input type="submit" value="Submit"/>

</form>